root = true

[*]
charset = utf-8
end_of_line = lf #换行符 mac linux/unix 都用lf。 window 设置 cr 在 *nix 有问题
indent_size = 2 #缩进大小2
indent_style = space #缩进风格：空格 tab、space
max_line_length = 120
trim_trailing_whitespace = true #是否删除行尾的空格
insert_final_newline = true #是否在文件的最后插入一个空行

[*.jsx]
indent_size= 2
